<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen p-5 text-white bg-zinc-800">

        <div class="nav ml-1 mb-10">
            <a href="/read" class="text-blue-400">Read All Users</a>
        </div>

        <h1 class="text-2xl mb-2 ml-1 tracking-tighter">Create User</h1>
        <form action="/create" method="post" >
            <input type="text" class=" px-4 bg-transparent border-2 border-zinc-600 py-1 rounded-md" name="name" placeholder="name" >
            <input type="text" class="px-4 bg-transparent border-2 border-zinc-600 py-1 rounded-md" name="email" placeholder="email" >
            <input type="text" class="px-4 bg-transparent border-2 border-zinc-600 py-1 rounded-md" name="image" placeholder="image" >
            <input type="submit" value="Create User" class="px-3 py-1 bg-blue-700 rounded-xl ml-3" >
        </form>

    </div>
</body>
</html>